.nav-container {
    position: relative;
    z-index: 10;
    width: 100%;
}

.navbar1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transition: top 0.2s;
}

.navbar {
    position: fixed;
    top: 70px;

    left: 0;
    width: 100%;
    z-index: 10;
    transition: top 0.2s;
}

.backround {
    height: cover;
    margin: 0;
    padding: 0;
    background-image: url('kri.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.perfil {
    flex: 1;
}

.perfil:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.logo {
    flex: 1;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.navbar-nav .nav-link {
    position: relative;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    transition: color 0.3s;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-nav .nav-link:hover {
    color: #557e4b;
}

.form-control {
    box-shadow: 0.3s;
}

.form-control:focus {
    box-shadow: 0 0 10px 5px #b7d4d6b2;
    outline: none;
}

.form-control:focus::placeholder {
    color: transparent;
}

.form-control::placeholder {
    transition: color 0.3s;
}

.publicidad {
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

.card {
    flex: 1;
    margin-top: 70px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

html {
    height: 100%;
    margin: 0;
}

.carousel-inner::after {
    content: "";
    display: block;
    height: 100%;
    background: rgba(0, 0, 0, 0.329);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}

.dropdown-toggle::after {
    display: none;
}

.btn-secondary {
    background: none;
    border: none;
    padding: 0;
}

.dropdown-menu {
    transform: translateX(-100%);
    left: auto;
    right: 0;
}

.dropdown-toggle::after {
    display: none;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.dropdown-menu {
    transform: translateX(-90%);

    left: auto;
    right: 0;
}

.publihotel {
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

.publicidad-hoteleria {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 100%;
    height: 200px;
    background-color: white;
    z-index: 1;
    text-align: center;

}

.carousel-container {
    position: relative;
}

.overlay-div {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 300px;
    height: 200px;
    border: 2px solid #000;
    z-index: 10;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}