.nav-container {
    position: relative;
    z-index: 10;
    width: 100%;
}

.navbar1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20; /* Ensures navbar1 is above navbar */
    transition: top 0.3s;
}

.navbar {
    position: fixed;
    top: 70px; /* Adjust this value according to the height of navbar1 */
    left: 0;
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
}

.backround {
    height: cover;
    margin: 0;
    padding: 0;
    background-image: url('kri.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.perfil {
    flex: 1;
}

.perfil:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.logo {
    flex: 1;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.navbar-nav .nav-link {
    position: relative;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    transition: color 0.3s;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-nav .nav-link:hover {
    color: #557e4b;
}
.form-control {
    box-shadow: 0.3s;
}

.form-control:focus {
    box-shadow: 0 0 10px 5px #b7d4d6b2;
    outline: none;
}

.form-control:focus::placeholder {
    color: transparent;
}

.form-control::placeholder {
    transition: color 0.3s;
}

.publicidad {
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

.card {
    flex: 1;
    margin-top: 70px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.container{
    
}