.dropdown-menu {
    transform: translateX(-90%);
    left: auto;
    right: 0;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu {
    transform: translateX(-100%);
    left: auto;
    right: 0;
}
.dropdown-toggle::after {
    display: none;
}
.perfil {
    flex: 1;
}
.perfil:hover {
    transform: scale(1.1);
    transition: 0.1s;
}
.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.backround {
    height: 1100px;
    margin: 0;
    padding: 0;
    background-image: url('descarga.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar-nav .nav-link {
    position: relative;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    transition: color 0.3s;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(19, 201, 207);
    transition: width 0.3s;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-nav .nav-link:hover {
    color: #557e4b;
}
.contenido{
    background-color: rgba(255, 255, 255, 0.445);
    margin: 1%;
    padding: 20px;
    border-radius: 7px;
}