/* src/styles/Dashboard.css */

/* Estilos globales */
body {
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
    color: #333;
}

h1 {
    color: rgb(0, 53, 169);
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}

.p-no {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* Estilos para las tarjetas */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px; /* Ajusta el ancho según sea necesario */
}

.card-img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: rgb(0, 53, 169);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(0, 40, 130);
}

/* Contenedor de tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}