@import url(https://fonts.googleapis.com/css2?family=Archivo+Black&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Questrial&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/imagenes/mi-vida-viajera-01-Colombia-06-Bogota-07-chorro-de-quevedo.jpg);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #001ba3;
}

.container-p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #151031;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #424242;
}

.input-text, .input-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-text:focus, .input-select:focus {
    border-color: #205fb8;
    box-shadow: 0 0 5px rgba(5, 20, 96, 0.5);
    outline: none;
}

.button {
    width: 50%;
    padding: 10px;
    background-color: #205fb8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #081542;
    transform: scale(1.05);
}

a.volver {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #205fb8;
    color: white;
    padding: 5px 19px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a.volver:hover {
    background-color: #081542;
    transform: scale(1.05);
}