body{
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
    color: #333;
}
.container {
    min-height: 100vh;
}
/*Inicio de estilo del nav*/
nav.barra-lateral {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 65px;
    background-color: #411717;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(50, 50, 50, 0.3);
    transition: width 0.4s;
    z-index: 1000;
}
nav.barra-lateral:hover {
    width: 240px; 
}
nav.barra-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 59px; 
}
nav.barra-lateral li {
    padding: 5px;
}
nav.barra-lateral a {
    color: rgb(202, 139, 2);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap; 
}
nav.barra-lateral a:hover {
    background-color: #613232; /* Cambio de fondo más sutil */
}
nav.barra-lateral a .nav-item {
    margin-left: 10px;
    opacity: 0; 
    transition: opacity 0.3s;
}
nav.barra-lateral a:focus {
    background-color: #f3c98a8e; /* Destacar cuando está enfocado */
    outline: 2px solid #bf9f21; /* Añadir borde de enfoque */
}
nav.barra-lateral:hover a .nav-item {
    opacity: 1; 
}
nav.barra-lateral a:hover {
    background-color: #a47f2189;
}
nav.barra-lateral i {
    font-size: 18px; 
}
/*Fin de estilo del nav*/

/*Inicio de estilo del logo nav*/
.logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px 0;
}
.logo img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 10px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s;
}
nav.barra-lateral:hover .logo span {
    opacity: 1; 
}
/*Fin de estilo del logo nav*/

/*Inicio de estilo del contenedor perfil*/
.contenedor-perfil {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; 
}
.perfil-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.perfil-img:hover {
    transform: scale(1.1);
}
.menu-opciones {
    display: block;
    position: absolute;
    top: 60px; 
    right: 0;
    background-color: #411717;
    border: 2px solid #220d0d;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 120px; 
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}
.contenedor-perfil:hover .menu-opciones {
    opacity: 1; 
    visibility: visible; 
    transform: translateY(0); 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0s;
}
.menu-opciones a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    transition: background-color 0.3s ease;
}
.menu-opciones a:hover {
    background-color: #5a1c1c;
}
/*Fin de estilo del contenedor perfil*/

/*Inicio de estilo cards*/
.card-container {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card {
    margin-top: 12px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    max-width: 320px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-12px); /* Reducir el desplazamiento */
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2); /* Sombras más sutiles */
}
.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}
.card-img:hover {
    opacity: 0.9; /* Suave cambio de opacidad */
}
.card-body {
    padding: 20px;
}
.card-body h3 {
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 1.75rem;
    color: #d1a90a;
}
.card-body p {
    font-size: 1rem;
    color: #343434;
    margin-bottom: 20px;
}
.card-body .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 20px;
    background: #e5a800;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.card-body .btn:hover {
    background: #ffd900;
    color: #fff;
}
h1{
    color: black;
    margin-top: 100px;
    font-size: 60px;
    text-align: center;
}
.p-no{
    color: black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
hr{
    margin-left: 100px;
    margin-bottom: 20px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(138, 41, 41, 0), rgba(87, 10, 10, 0.75), rgba(125, 39, 39, 0));
}
/*Inicio estilo slider*/
.slider {
    margin-left: 20%;
    width: 70%;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative; 
    z-index: 500;
}
.slider .slide-track{
    display: flex;
    animation: scroll 30s linear infinite;
    width: calc(400px * 14);
}
.slider .slide {
    width: 400px;
    height: 330px;
}
.slider .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes  scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px * 7));
    }
}
/*Fin estilo*/

/* Móviles Pequeños (max-width: 480px) */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 40px;
        margin-top: 50px;
    }

    .p-no {
        font-size: 1rem;
    }

    .card {
        max-width: 90%;
    }

    .slider {
        width: 100%;
    }

    nav.barra-lateral {
        width: 40px;
    }

    nav.barra-lateral:hover {
        width: 140px;
    }

    .contenedor-perfil {
        top: 5px;
        right: 5px;
    }
}

/* Tablets (max-width: 768px) */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
        margin-left: 5%;
    }

    .p-no {
        margin-left: 10%;
        font-size: 1rem;
    }

    .card {
        max-width: 80%;
        margin: 10px;
    }

    .slider {
        margin-left: 15%;
        width: 70%;
    }

    nav.barra-lateral {
        width: 50px;
    }

    nav.barra-lateral:hover {
        width: 180px;
    }

    .contenedor-perfil {
        top: 5px;
        right: 5px;
    }
}

/* Pantallas Medianas (max-width: 1024px) */
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 55px;
    }
    .p-no {
        margin-left: 10%;
        font-size: 1rem;
    }
    .card {
        max-width: 60%;
        margin: 15px;
        margin-left: 13%;
    }

    .slider {
        margin-left: 13%;
        width: 85%;
    }

    nav.barra-lateral {
        width: 60px;
    }

    nav.barra-lateral:hover {
        width: 200px;
    }
}

/* Pantallas Grandes (min-width: 1280px) */
@media screen and (min-width: 1280px) {
    h1 {
        font-size: 60px;
        margin-top: 80px;
    }

    .card {
        max-width: 30%;
    }

    .slider {
        width: 70%;
    }

    nav.barra-lateral {
        width: 65px;
    }

    nav.barra-lateral:hover {
        width: 240px;
    }
}